[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-testing = "*"
requests = "*"
flask-restful = "*"
flask-migrate = "*"
pymysql = "*"
flask-mongoengine = "*"
mongomock = "*"

[dev-packages]

[requires]
python_version = "3"
